[Desktop Entry]
Encoding=UTF-8
Name=MineGoldCoin
Comment=MineGoldCoin P2P Cryptocurrency
Comment[fr]=MineGoldCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MineGoldCoin, eşten eşe kriptografik sanal para birimi
Exec=minegoldcoin-qt %u
Terminal=false
Type=Application
Icon=minegoldcoin128
MimeType=x-scheme-handler/minegoldcoin;
Categories=Office;Finance;
